$background: $secondary;
$fontsize: 14px;
$menu-width:200px;


.mobile-menu {

  width: $menu-width;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition:background 0.5s;

  list-style: none;
  background: $background;
  margin:0;
  padding:0;
  
  ul {
    
    margin:0;
    padding:0;  
    list-style: none;
	
  }
  
  li {
    
	   width: $menu-width;
	   margin:0;
	   padding:0;
	   
	   a {
       
			 display:block;
			 text-transform:uppercase;
			 padding: 1em;
			 background: $navabg;
			 color: $navacolor;
			 text-decoration:none;
			 transition: background 0.5s;
			 font-size: $fontsize;
       
       &:hover, &:active, &:focus{
         background: $navabghover;
         color: $navahover;	
       }
       
	   }
    
	   li a {
       
       padding-left: 1.6em;
       text-transform:capitalize;
       
    }

    &.current_page_item {

      a {
        background:$navabghover;
        color:$navahover;
      }

    }
    
  }
  
}


.site-wrap {

  min-height: 100%;
  min-width: 100%;
  background-color: $bg;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;

}


.nav-trigger {

  position: absolute;
  clip: rect(0, 0, 0, 0);

}

label[for="nav-trigger"] {

  position: absolute;
  top: 0;
  padding: 10px 0 0 10px;
  z-index: 2;
  margin:0;
  transition: background 1s ease-in;
  z-index:5;

  &.scroll:before {

	  content:"";
	  height: 45px;
	  background: rgba(0,0,0,0.5);
	  width:100%;
	  position:fixed;
	  top:0;
	  left:0;  
	  z-index:4;

  }
  
}

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.navigation.opened {
	left:0;
}

.nav-trigger:checked + label {

  height: 100%;
  width: calc(100% - 200px);
  left: 200px;
  background:url(../css/assets/pattern.svg); /*rgba(0,0,0,0.5);*/
  
  span {
		margin: 0;  
  }

}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
}

body {
  overflow-x: hidden;
}

.desktop-menu {
  display:none;
}

@media only screen and (min-width: 992px) {
  
	.mobile-menu{ display:none; } 
	.menubtn{ display:none;}
	#nav-trigger ~ ul { display:none; }
	.site-wrap {
	  min-height: auto;
	  min-width: auto;
	  top: auto;
	  bottom: auto;
	  left: auto;
	  /*z-index: 1;*/
	}
	body {
	  overflow-x:hidden;
	}
	
	.desktop-menu {
    
		list-style:none;
		transition: all 1s;
		position:absolute;
		display:block;
		top: 60px;
		right:0;
		height: 58px;
		z-index:20;
		background-color:none;
		padding:0 20px;
    
		>li {
      
			float:left;
			width:auto;
			padding-bottom:8px;	
			margin-left:15px;
			margin-right:15px;
			position:relative;
			background-color:none;
      
			a {
        
				font-size: 16px;
				color:$primary;	
				padding: 5px 10px 20px;
				padding-bottom:5px;
				text-transform:uppercase;
				
				background-color:none;
				border-bottom:1px solid transparent;
        
			}
      
			&:hover, &:focus, &:active, &.current_page_item, &.current_page_parent {
        
				> a {
          
					// PUT IN HOVER / ACTIVE PAGE STYLES HERE
          
				}
				
			}
			
			&:hover, &:focus, &:active {
        
				ul {
          
					left:auto;	
					display:block;
          
				}
        
			}
      
			ul {
        
				position:absolute;
				left:0;
				padding-top:8px;
				margin-left: 0;
				padding-left:0;
				background:none;
				list-style:none;
				width:200px;
				display:none;
        
			}
      
			li {
        
				/*background: rgba( 26,25,23, 0.9);*/
				padding:2px 0;
				border-bottom:1px solid transparent;
        
				a {
          
					font-size:12px;
					font-family: $font-stack;
					font-weight:bold;
					padding: 3px 10px;
					color:#000;
					background-color:transparent;
          
					&:before{ display:none; }
					&:hover{
						background-color: none;	
					}
          
				}
        
				&.current_page_item, &:hover, &:active, &:focus {
					
					a {
						text-decoration:none;
					}
          
				}
        
			}
      
		}
    
	}
  
}