/*------------------------------------*\
    #PAGE HEADER STYLES
\*------------------------------------*/

h2.title {

	position:relative;
	width:280px;
	height:200px;
	margin:10px auto 10px;

  @include media-breakpoint-up(lg){
    margin-left:0;
    height:100px;
  }

	a {

		display:block;
		position:relative;
		height:inherit;
		width: 220px;
		margin:0 auto;
		
		background-image:url(../img/Ghost-Production-logo.png);
		background-repeat:no-repeat;
		background-size:contain;

	}

}


header.main {

  position: relative;

  .contact-list {

    i {
      font-size:25px;
      margin-right:8px;
      position: absolute;
      top:3px;
      left:0;
      @include media-breakpoint-up(lg){
        font-size:16px;
      }
    }

    p {
      position: relative;
      padding-left:40px;
      color:#000;
      @include media-breakpoint-up(lg){
        margin-bottom:5px;
        line-height:1.3;
        padding-left:30px;
      }
    }

    @include media-breakpoint-up(lg){

      //flex-direction:column;
      align-items:flex-end;
      justify-content: flex-end;
      position: relative;
      top:30px;

      li {
        margin-left:10px;
        margin-right:10px;
      }

      .secondary-bg {

        width:100%;

        &.fixed {
          top:0;
          left:0;
          z-index:9999;
          position: fixed;
        }

      }

    }

  }

}
