footer {

  background-color:#232628;

  h4 {
    color:#fff;
  }

  .form-control {

    background:none;
    border-color:$text-color;

  }

  .copyright {

    background:#2e2e2e;
    padding-top:15px;
    padding-bottom:15px;
    font-size:16px;

    p {
      margin-bottom:0;
    }

  }

}
