.services {

  @include media-breakpoint-up(md){
    > div {
      margin-bottom:50px;
    }
  }

}

.service {

  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border:2px solid $primary;
  padding:50px 30px;
  color:#fff;
  margin-bottom:30px;
  text-align:center;

  @include media-breakpoint-up(md){
    height:100%;
    margin-bottom:0;
  }

  .service-title {

    color:#fff;
    position: relative;
    font-weight:700;
    margin-bottom:25px;

  }

  p {
    position: relative;
  }

  &:before {
    content:'';
    background:rgba(0,0,0,0.4);
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    display:block;
  }

}

.icon-col {

	color:#ccc;
	margin-bottom:40px;
	text-align:center;

	h1,h2,h3,h4,h5,h6 {

		color:#fff;
		font-weight:700;

    &:after {
      display:none;
    }

	}

	i {
		color:$primary;
		font-size:46px;
		margin-bottom:20px;
	}

}