.services {


}

.icon-col {

	color:#ccc;
	margin-bottom:40px;
	text-align:center;

	h1,h2,h3,h4,h5,h6 {
		color:#fff;
		font-weight:700;
	}

	i {
		color:$primary;
		font-size:46px;
		margin-bottom:20px;
	}

}