body {
	font-family: $font-stack;
	color:$text-color;
	font-size:18px;
}
::-moz-selection {
    background: $tertiary;
    text-shadow: none;
}
::selection {
    background: $tertiary;
    text-shadow: none;
}

a {
	color: $text-color; 
	text-decoration:none; 
	font-weight:bold;
}
a:hover, a:focus, a:active {
  color: $secondary;
  text-decoration: underline;
}

.primary-color {
	color:$primary;
}

h1, h2, h3, h4, h5, h6 {
	color:#000;
}

h1, h2 {

	font-size:40px;
	text-transform: uppercase;
	font-weight:700;
	margin-bottom:30px;

}

h3 {
	margin-top:20px;
	margin-bottom:20px;
}

p {
	line-height:1.8;
}

.underline, h4 {

	position: relative;

	&:after {
		content:'';
		background:$primary;
		height:2px;
		width:100px;
		display:block;
		margin-top:20px;
		margin-bottom:30px;
	}

}

.btn {

  border-radius:0;

}

.btn-primary {

  background:$primary;
  border-color:$primary;

  &:hover, &:active, &:focus {
    background:#fff;
    border-color:#fff;
    color:$primary;
  }

}